<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Welcome</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		style="
			background-color: #ffffff;
			padding: 1.5em;
			font-family: 'Tajawal', sans-serif;
			color: #000000;
			margin: 0;
		"
	>
		<div
			style="
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				margin-bottom: 2em;
			"
		>
			<img
				src="https://offerly.me/static/logo.png?d"
				alt="Offerly"
				style="height: 50px; width: 75px"
			/>
		</div>
		<h3 style="margin: 0 0 1em 0">Hi <%= name %> !</h3>

		<div style="margin: 1em 0">
			<p>Welcome to Offerly!</p>
			<p>The place where you can save more with the cards you own!</p>
			<p>
				If you didn’t create an account, please contact us at
				<a href="mailto:support@offerly.me" style="text-decoration: none">
					support@offerly.me
				</a>
			</p>
		</div>

		<div style="margin-bottom: 1em">Regards,</div>
		<div style="font-weight: 600; margin-bottom: 1em">The Offerly Team</div>
		<a
			href="https://www.offerly.me"
			style="text-decoration: none; font-weight: 600"
		>
			offerly.me
		</a>
	</body>
</html>
