<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OTP</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		style="
			background-color: #ffffff;
			font-family: 'Tajawal', sans-serif;
			color: #000000;
			padding: 1.5em;
			margin: 0;
			direction: rtl;
			text-align: right;
		"
	>
		<div
			style="
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				margin-bottom: 2em;
			"
		>
			<img
				src="https://api.offerly.me/assets/logo.png?d"
				alt="Offerly"
				style="height: 50px; width: 75px"
			/>
		</div>
		<h3 style="margin: 0 0 1em 0">حياك <%= name %> !</h3>

		<div style="margin: 1em 0">
			استخدم رمز الدخول لمرة واحدة لتغيير كلمة المرور الخاصة بحسابكم في أوفرلي،
			هذه الرمز صالح لمدة ٣٠ دقيقة
		</div>

		<h1 style="letter-spacing: 8px; margin: 0 0 1.5em 0"><%= otp %></h1>
		<p style="margin: 0 0 2em 0">
			لأي استفسار، يرجي التواصل عبر
			<a href="mailto:support@offerly.me" style="text-decoration: none">
				support@offerly.me
			</a>
		</p>
		<div style="margin-bottom: 1em">مع التحيات،</div>
		<div style="font-weight: 600; margin-bottom: 1em">فريق أوفرلي</div>
		<a
			href="https://www.offerly.me"
			style="text-decoration: none; font-weight: 600"
		>
			offerly.me
		</a>
	</body>
</html>
